<!--
  @description       : 
  @author            : Amit Singh
  @group             : 
  @last modified on  : 11-17-2020
  @last modified by  : Amit Singh
  Modifications Log 
  Ver   Date         Author       Modification
  1.0   11-17-2020   Amit Singh   Initial Version
-->
<template>
    <lightning-card title="Streaming API Example" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            {messageData} <br/>
            {responeData}
        </div>
        <div class="slds-m-around_medium">
            <p>Use the buttons below to subscribe and unsubscribe to a streaming channel!</p>
            <lightning-input label="Channel Name" value={channelName}
                onchange={handleChannelName}></lightning-input>
            <lightning-button variant="success" label="Subscribe" title="Subscribe"
                onclick={handleSubscribe} disabled={isSubscribeDisabled}
                class="slds-m-left_x-small"></lightning-button>
            <lightning-button variant="destructive" label="Unsubscribe" title="Unsubscribe"
                onclick={handleUnsubscribe} disabled={isUnsubscribeDisabled}
                class="slds-m-left_x-small"></lightning-button>
        </div>
    </lightning-card>
</template>